<div class="container">
  <h2>Register</h2>

  <form class="register" action="/users" method="Post">
    <label>First Name:</label>
    <input type="text" name="user[first_name]">
    <label>Last Name:</label>
    <input type="text" name="user[last_name]">
    <label>Email:</label>
    <input type="text" name="user[email]">
    <label>Password:</label>
    <input type="password" name="user[password]">
    <label>Confirm Password:</label>
    <input type="password" name="password_confirmation">
    <input type="submit" value="Register">
  </form>

</div>
