  <form class="register" action="/events" method="Post">
    <label>Title:</label>
    <input type="text" name="event[title]" placeholder="Party!!!"><br>
    <label>Description:</label>
    <textarea rows="10" cols="50" name="event[description]" placeholder="Add details..."></textarea><br>
    <label>Address:</label>
    <input type="text" name="event[address]"><br>
    <label>Date:</label>
    <input type="date" name="event[date]"><br>
<!--     <label>Time:</label>
    <input type="time" name="event[time]"> -->

    <input type="submit" value="Create">
  </form>