<div class="container">
  <h2><%= @user.first_name.capitalize %>'s Event</h2>

  <form class="register" action="/users/<%= @user.id %>/event" method="Post">
    <label>Title:</label>
    <input type="text" name="event[title]" placeholder="Party!!!">
    <label>Description:</label>
    <textarea rows="10" cols="50" name="event[description]" placeholder="Add details..."></textarea>
    <label>Address:</label>
    <input type="text" name="event[address]">
    <label>Date:</label>
    <input type="date" name="event[date]">
    <label>Time:</label>
    <input type="time" name="event[time]">

    <input type="submit" value="Create">
  </form>

</div>
