<form class="new-contact" action="/contact" method="Post">
  <label>First Name:</label>
  <input type="text" name="contact[first_name]"><br>
  <label>Last Name:</label>
  <input type="text" name="contact[last_name]"><br>
  <label>Number:</label>
  <input type="text" name="contact[phone]" placeholder="i.e. 4153338484"><br>
  <input type="submit" value="Add Contact">
</form>