<div class="container">
  <h2>Create a contact</h2>

  <form class="register" action="/users/<%= @user.id %>/contact" method="Post">
    <label>First Name:</label>
    <input type="text" name="contact[first_name]">

    <label>Last Name:</label>
    <input type="text" name="contact[last_name]">

    <label>Number:</label>
    <input type="text" name="contact[phone]" placeholder="i.e. 4153338484">

    <input type="submit" value="Add Contact">
  </form>

</div>
