<div class='container home-page'>

  <p>Create an event and invite your contacts through text!</p>
  

  <p>Register and start making your events!</p>

  <p><a href='/users/new'>Register</a>  |  <a href='/sessions/new'>Login</a></p>

</div>
